In [1]:
import pandas as pd

In [2]:
#read in the csv, but skip first 3 rows and only use the first 7 columns of the csv
df = pd.read_csv("uk_weeklyfuelprices.csv", header = 2,usecols = range(7))

### The csv file is provided by the uk government   
https://www.gov.uk/government/statistical-data-sets/oil-and-petroleum-products-weekly-statistics   
ULSP = Ultra low sulpur unleaded petrol			
ULSD = Ultra low sulphur diesel	
Pump price in pence/litre

ULSP.1 & ULSD.1 = Duty rate in pence/litre  
ULSP.2 & ULSD.2 = VAT percentage rate

In [3]:
#look at the first five records in the dataset
df.head()

         Date   ULSP   ULSD  ULSP.1  ULSD.1  ULSP.2  ULSD.2
0  09/06/2003  74.59  76.77   45.82   45.82    17.5    17.5
1  16/06/2003  74.47  76.69   45.82   45.82    17.5    17.5
2  23/06/2003  74.42  76.62   45.82   45.82    17.5    17.5
3  30/06/2003  74.35  76.51   45.82   45.82    17.5    17.5
4  07/07/2003  74.28  76.46   45.82   45.82    17.5    17.5

### Feature Engineering
Look at the features and change them such as:
* Changing date from object to datetime
* Renaming the columns/ Deleting columns
* Converting pence/liters to gallon/dollars

In [4]:
#change date to datetime
df['Date'] = pd.to_datetime(df['Date'],dayfirst = True, format = "%d/%m/%Y")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883 entries, 0 to 882
Data columns (total 7 columns):
Date      883 non-null datetime64[ns]
ULSP      883 non-null float64
ULSD      883 non-null float64
ULSP.1    883 non-null float64
ULSD.1    883 non-null float64
ULSP.2    883 non-null float64
ULSD.2    883 non-null float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 48.4 KB

In [6]:
#rename note peterol and diesel are costs in pence/liters
df.rename({'ULSP': 'Petrol', 'ULSD': 'Diesel', 'ULSP.1':'PDutyRate','ULSD.1':'DDutyRate','ULSP.2':'PVATPercentage','ULSD.2':'DVATPercentage'}, axis = 1, inplace = True)

In [7]:
df.head()

,Date,Petrol,Diesel,PDutyRate,DDutyRate,PVATPercentage,DVATPercentage
0,2003-06-09,74.59,76.77,45.82,45.82,17.5,17.5
1,2003-06-16,74.47,76.69,45.82,45.82,17.5,17.5
2,2003-06-23,74.42,76.62,45.82,45.82,17.5,17.5
3,2003-06-30,74.35,76.51,45.82,45.82,17.5,17.5
4,2003-07-07,74.28,76.46,45.82,45.82,17.5,17.5

* Pump prices are in pence/liter. 
* Change to imperial: dollars per gallon
* 1 USD = 80.34 GBX
* 1 Gallon = 3.78541 Liter

In [9]:
def convert_dgals(pence_per_liter):
    #1 USD = 80.34GBX
    #1 GAL = 3.78541 Liter
    dollars_per_gallon = (pence_per_liter / 80.34) * 3.78541
    return dollars_per_gallon

In [11]:
#convert pence per liter to dollars per gallon to columns petrol and diesel
fuel_prices = df.apply(lambda x: convert_dgals(x) if x.name in ['Petrol','Diesel','PDutyRate','DDutyRate'] else x ,axis =0)

In [14]:
fuel_prices.head()

,Date,Petrol,Diesel,PDutyRate,DDutyRate,PVATPercentage,DVATPercentage
0,2003-06-09,3.514485,3.617201,2.158918,2.158918,17.5,17.5
1,2003-06-16,3.508831,3.613432,2.158918,2.158918,17.5,17.5
2,2003-06-23,3.506475,3.610133,2.158918,2.158918,17.5,17.5
3,2003-06-30,3.503177,3.604950,2.158918,2.158918,17.5,17.5
4,2003-07-07,3.499879,3.602595,2.158918,2.158918,17.5,17.5

In [13]:
#fuel_prices.to_csv('fuel_prices.csv')